<div>
    <h1>Get a user</h1>
    <form [formGroup]="getUserForm">
        Id:<input type="text" formControlName="id">
    </form>
    <button (click)="getUser()">Get User</button>
</div>
<hr>
<div>
    <h1>Create a user</h1>
    <form [formGroup]="createUserForm">
        Id:<input type="text" formControlName="id"> Nickname:
        <input type="text" formControlName="nickname">
    </form>
    <button (click)="createUser()">Create User</button>
</div>
<hr>
<div>
    <h1>Update a user</h1>
    <form [formGroup]="updateUserForm">
        Id:<input type="text" formControlName="id"> Nickname:
        <input type="text" formControlName="nickname">
    </form>
    <button (click)="updateUser()">Update User</button>
</div>
<hr>
<div>
    <h1>Delete a user</h1>
    <form [formGroup]="deleteUserForm">
        Id:<input type="text" formControlName="id">
    </form>
    <button (click)="deleteUser()">Delete User</button>
</div>